.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1124px;
    box-sizing: border-box;
    position: relative;
}
/* !for mobile devices */
@media(max-width:767px) {
 
}
/* !For tablet divices */
@media(min-width:768px) and (max-width:1023px){

}
/* destop */
@media(min-width:1024px) {
    
}
.text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 62px;
    color: #A3CC40;
}

.strong {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 62px;
    color: #A3CC40;
}

.text-p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 0.69rem;
    line-height: 14px;
    /* text-align: center; */
    color: #333333;
}

.text-h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
