.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1124px;
    box-sizing: border-box;
    position: relative;
}

.text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height:3.875rem;
    color: #A3CC40;
}

.strong {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height:3.87rem;
    color: #A3CC40;
}

.text-p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 0.69rem;
    line-height:0.875rem;
    /* text-align: center; */
    color: #333333;
}

.text-h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height:1.625rem;
    text-align: center;
    color: #333333;
}
