.contenier {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
}

.strong {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
}

.text-p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #333333;
}

.text-h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}