/*! destop */
@media screen and (max-width:3600px) {
    .container {
        max-width:1360px;
    }

    html {
        font-size: 22px;
    }
}
@media screen and (max-width:1950px) {
    .container {
        max-width: 1600px;
    }

    html {
        font-size: 26px;
    }
}

@media screen and (max-width:1600px) {
    .container {
        max-width: 1360px;
    }

    html {
        font-size: 21px;
    }
}

@media screen and (max-width:1280px) {
    .container {
        max-width: 1000px;
    }

    html {
        font-size: 16px;
    }

}

/* !For tablet divices */
@media screen and (max-width:1024px) {
    .container {
        max-width: 760px;
    }

    html {
        font-size: 16px;
    }


    html,
    body {
        overflow-x: hidden;
    }

    .header {
        justify-content: space-between;
        padding: 1.5rem;
    }

    .header__menu {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        width: 50%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        transform: translateX(100%);
        transition: tansform 0.7s ease-in;
        margin-top: 0 !important;
        z-index: 2;
    }

    .header__menu a {
        color: black;
    }

    .header__menu span {
        color: black;
    }

    .header__close svg {
        display: block !important;
    }

    .header__burger svg {
        display: block !important;
    }

    .header__burger {
        cursor: pointer;
        margin: 3.5rem 0 0;
    }

    .option {
        position: absolute;
        top: 2rem;
        left: 1rem;
        color: #333;
        font-size: 1.5rem;
    }

    .header__close {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 35px;
        top: 80px;
    }

    .header__menu-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .header__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .header__navigation span {
        font-size: 1.25rem;
    }

    .header__navigation a {
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .header__menu-contact>a {
        font-size: 1.25rem;
        margin: 1rem 3.125rem 0 0;
    }

    .blok__call {
        display: inline-block;
        text-decoration: none;
        background: #A3CC40;
        border: 2px solid #fff;
        padding: 2px 0.4375rem;
    }

    .blok__call span {
        color: #333;
        font-size: 1.25rem;
        padding: 10px 0.5rem;
    }

    .blok__call svg {
        fill: #fff;
    }

    .nav-active {
        transform: translateX(0);
    }

    .film__table-text {
        margin: 1.5rem auto 7rem;
    }

    .advertising__text {
        box-sizing: border-box;
        padding: 10.5rem 3.5rem 0;
    }

    .film__scroll {
        overflow-y: scroll;
    }


    .owl-prev {
        left: 25%;
    }

    .owl-next {
        right: 25%;
    }

    .film__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .film__cards-center {
        display: none;
    }

    .film__p {
        bottom: -35%;
        z-index: 2;
    }

    .card__box {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .footer__contact {
        display: block;
    }
}

/* !for mobile devices */
@media screen and (max-width:768px) {
    .container {
        max-width: 720px;
    }

    html {
        font-size: 16px;
    }

    .header__menu {
        width: 70%;
    }

    .welcome {
        display: none;
        animation: none;
    }

    .table__scrool {
        overflow-y: auto;
        box-sizing: border-box;
        margin: 0rem auto;
    }

    .film__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .film__cards-center {
        display: none;
    }

    .film__p {
        bottom: -35%;
        z-index: 2;
    }

    .card__box {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .form {
        justify-content: center;
    }

    .img__bacg {
        display: none;
    }

    .footer__contact {
        display: block;
    }
}

@media screen and (max-width:580px) {
    .container {
        max-width: 360px;
    }

    html {
        font-size: 14px;
    }

    .header__menu {
        width: 100%;
    }

    .advertising__text {
        padding: 6.5rem 0 0;
    }

    .advertising__button {
        margin-left: 7rem;
    }

    .film__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .advertising::after {
        top: 37.6rem;
        border-bottom: 5rem solid #fff;
    }

    .advertising__img {
        left: 2.7rem;
        top: 0.5rem;
        width: 30%;
    }

    #reviews::after {
        top: 40rem;
    }

    .footer {
        padding: 0 !important;
    }

    .map {
        padding: 0 5rem;
        margin: 0 auto;
        max-width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width:360px) {
    html {
        font-size: 12px;
    }

    .header {
        justify-content: space-evenly;
    }

    #reviews::after {
        top: 41rem;
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }

    .advertising__text {
        padding: 5.5rem 0 0;
    }
}