/* !for mobile devices */
@media screen and (max-width:767px) {
    html {
        font-size: 1.4vw;
    }

    .header__menu {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        width: 50%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* !For tablet divices */
@media(min-width:768px) and (max-width:1023px) {
    html {
        font-size: 1.4vw;
    }

    body {
        overflow-x: hidden;
    }

    .header__menu {
        position: absolute;
        right: 0;
        height: 92vh;
        top: -5vh;
        width: 50%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: tansform 0.7s ease-in;
    }
    .header__menu a{
        color: black;
    }
    .header__menu span{
        color: black;
    }
    .header__burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu__close{
        cursor: pointer;
        display: block;
    }
    .nav-active{
        transform: translateX(0);
    }
}

/* destop */
@media (min-width:1024px) {
    html {
        font-size: 1.4vw;
    }
}