/*! destop */
@media screen and (max-width:1600px){
    .container {
        max-width: 1320px;
      }
    html {
        font-size: 1.4vw;
    }
    .header__close{
        display: none;
    }
    .header__burger{
        display: none;
    }
}
@media screen and (max-width:1280px){
    .container {
        max-width: 1124px;
      }
    html {
        font-size: 1.4vw;
    }
    .header__close{
        display: none;
    }
    .header__burger{
        display: none;
    }
}

/* !For tablet divices */
@media screen and (max-width:1023px) {
    .container {
        max-width: 830px;
      }
    html {
        font-size: 1.4vw;
    }

    body {
        overflow-x: hidden;
    }

    .header__menu {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        width: 50%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: tansform 0.7s ease-in;
        margin-top: 0 !important;
    }
    .header__menu a{
        color: black;
    }
    .header__menu span{
        color: black;
    }
    .header__burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__close{
        cursor: pointer;
        display: block;
        position: absolute;
        right: 50px;
        top: 50px;
    }
    .nav-active{
        transform: translateX(0);
    }
}

/* !for mobile devices */
@media screen and (max-width:767px) {
    .container {
        max-width: 960px;
      }
    html {
        font-size: 1.4vw;
    }

    body {
        overflow-x: hidden;
    }

    .header__menu {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        width: 50%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: tansform 0.7s ease-in;
        margin-top: 0 !important;
    }
    .header__menu a{
        color: black;
    }
    .header__menu span{
        color: black;
    }
    .header__burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__close{
        cursor: pointer;
        display: block;
        position: absolute;
        right: 50px;
        top: 50px;
    }
    .nav-active{
        transform: translateX(0);
    }
}

@media  screen and (max-width:480px){
    .container {
        max-width: 360px;
      }
}
