/* destop */
@media screen and (max-width:1600px){
    html {
        font-size: 1.4vw;
    }
}
@media screen and (max-width:1280px){
    html {
        font-size: 1.4vw;
    }
}

/* !For tablet divices */
@media(min-width:768px) and (max-width:1023px) {
    html {
        font-size: 1.4vw;
    }

    body {
        overflow-x: hidden;
    }

    .header__menu {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        width: 50%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: tansform 0.7s ease-in;
        margin-top: 0 !important;
    }
    .header__menu a{
        color: black;
    }
    .header__menu span{
        color: black;
    }
    .header__burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__close{
        cursor: pointer;
        display: block;
        position: absolute;
        right: 50px;
        top: 50px;
    }
    .nav-active{
        transform: translateX(0);
    }
}

/* !for mobile devices */
@media screen and (max-width:767px) {
    html {
        font-size: 1.4vw;
    }

    /* .header__menu {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        width: 50%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
}

@media (max-width:480px){
}
@media (max-width:320px){
}