header {
    background: url(/img/Backgrooundcinema.png) no-repeat center/cover;
    max-width: 100%;
    height: 100vh;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 0% 96%); */
    position: relative;
    z-index: 1;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    border-bottom: 200px solid #fff;
    border-left: 100vw solid transparent;
}

/*! hader__burger */
/* @media(max-width:1124px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header__burger::after,
    .header__burger::before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 3;
    }
} */

/* !header__burger end  */
body {
    font-family: 'IBM Plex Sans';
}

.header__logo {
    margin: 50px 0 0 0;
}

.header__menu {
    margin: 45px 0 0 0;
}

.option {
    margin: 50px 0 0 0;
    border: none;
    background: none;
    color: #fff;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.option option {
    background: #222;
}

.option:hover {
    color: #A3CC40;
    cursor: pointer;
    transition: 0.2s;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header__menu-contact {
    margin-bottom: 15px;
}

.header__menu-contact>a {
    margin: 0 50px 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.header__navigation a {
    margin: 0 50px 0 0;
}

.header__navigation span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    transition: 0.7s;
    width: 111px;
}

.header__navigation :hover a {
    /* text-transform: uppercase; */
    color: #A3CC40;
    transition: 0.7s;
    width: 111px;
}

.header__menu a {
    text-decoration: none;
}

.header__menu a:hover {
    color: #A3CC40;
    border-bottom: 1px solid #A3CC40;
    transition: 0.7s;
}

.blok__call {
    display: inline-block;
    text-decoration: none;
    background: #fff;
    padding: 2px 7px;
    border-radius: 6px;
    border: 2px solid #fff;
}

.blok__call span {
    color: #333;
    font-size: 12px;
    display: inline-block;
    margin-left: 7px;
    line-height: 16px;
}

.blok__call svg {
    fill: #333;
    display: inline-block;
}

.blok__call:hover {
    border-color: #fff;
    background: #A3CC40;
}

.blok__call:hover svg {
    fill: #fff;
}



.box {
    margin: 130px 0 0 0;
}

.box>h1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    text-align: center;
    color: #fff;
}

.box>h2 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin: 18px 0 0 0;
}

/* !header end */

.welcome {
    position: absolute;
    /* left: 563px;
    top: 525px; */
    top: 525px;
    bottom: 0;
    left: 564px;
    right: 23px;
    border: 1px solid white;
    background: white;
    text-align: center;
    color: rgb(8, 8, 8);
    border-radius: 10px;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    font-size: 11px;
    padding: 0px 12px;
    z-index: 2;
    width: 400px;
    height: 221px;
    vertical-align: text-top;
}

.welcome p {
    text-align: left;
    margin: 0px 41px 30px 34px;
}

.welcome__title {
    font-size: 33px;
    font-weight: 600;
    padding: 30px;
    margin-top: 4px;
    margin-left: -18px;
}

/* !welcome end*/

.comfort-flex {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 84px auto 144px;
}

.comfort {
    height: 338px;
    width: 245px;
    box-sizing: border-box;
}

.comfort h4 {
    text-align: center;
    margin: 35px auto 25px;
}

.comfort__text-p {
    text-align: center;
}

.comfort__img {
    max-width: 100%;
}

.comfort__img:hover {
    transform: scale(1.07);
}

/* !comfort */

/* !table */
#film {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
}

.film-choose {
    margin: 0 auto 0;
}

#table {
    margin: 84px auto 30px;
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    color: white;
}

#table tr:nth-child(even) {
    font-size: 14px;
    background-color: #6c6c6c;
}

#table tr:nth-child(even):hover {
    background-color: rgba(0, 0, 0, 0.65);
}

#table tr:nth-child(odd) {
    font-size: 14px;
    background-color: #373737;
}

#table tr:nth-child(odd):hover {
    background-color: rgba(0, 0, 0, 0.65);

}

#table tr {
    height: 45px;
}

#table th {
    vertical-align: middle;
    background-color: #A3CC40;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

#table td {
    vertical-align: middle;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
}

.checktable {
    width: 80px;
    text-align: center;
}

.film__table-text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    max-width: 539px;
    margin: 30px 280px 110px;
}

/* !advertising */
.advertising {
    background: url(../img/Group\ 1.png) no-repeat center/cover;
    max-width: 100%;
    height: 600px;
    position: relative;
}

.advertising::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 109px solid #fff;
    border-right: 100vw solid transparent;
}


.advertising::after {
    content: '';
    position: absolute;
    top: 491px;
    right: 0px;
    border-bottom: 110px solid #fff;
    border-left: 100vw solid transparent;
}

.advertising__img {
    position: absolute;
    left: 140px;
    top: -42px;
    border-radius: 100%;
    animation-name: gift;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes gift{
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.4)
    }
    100%{
        transform: scale(1.2)
    }
}

.advertising__text {
    width: 548px;
    box-sizing: border-box;
    margin: 0px 441px 0;
    padding: 116px 0;
}

.advertising__text h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-align: right;
    color: #FFFFFF;
}

.advertising__text p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    padding: 38px 0;
}

.advertising__button {
    padding: 7px 36px 6px 36px;
    background-color: #A3CC40;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-left: 341px;
    transition: 0.3s;
}
.advertising__button:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #A3CC40;
}
/* !films */

/* film */
.cinema__table {
    margin: 0 auto;
}

.film__img .film__p {
    transition: 0.3s;
    left: 0;
}

.cinema__heading {
    color: #A3CC40;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2.25rem;
}

.section__commit {
    font-size: 0.6875rem;
    margin-bottom: 4.25rem;
    margin-top: 1.625rem;
}

.section__text {
    font-size: 0.6875rem;
    line-height: 0.875rem;
}

.film__img {
    width: 17.6875rem;
    position: relative;
    overflow: hidden;
    display: block;
}

.film__img::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(22, 22, 22, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: 0.3s;
}

.film__img:hover::after {
    background: transparent;
    transition: 0.3s;
}

.film__img:hover .film__p {
    bottom: 0;
    color: white;
}

.film__img img {
    display: flex;
    width: 100%;
    height: 17.6875rem;
}

.film__p {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(144, 210, 61, 0.4);
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    padding: 1.0625rem 1.375rem;
}

.film__cards {
    display: flex;
}

.cinema__title {
    margin-bottom: 1.25rem;
    color: white;
    font-weight: 600;
    font-size: 1.8125rem;
    line-height: 2.375rem;
}

.cinema__text {
    color: white;
    font-size: 0.6875rem;
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 0.875rem;
}

/*!goods */

.goods {
    /* padding: 40px; */
    margin: 38px auto 0;
    float: none;
}

.goods__text {
    margin: 38px auto 38px;
}

.card__box {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.card {
    position: relative;
    float: left;
    width: 230px;
    overflow: hidden;
    border-radius: 10px;
}

.card__img {
    display: block;
}

.card__hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
}

.card__hover-bacground {
    background: rgba(163, 204, 64, 0.8);
    position: absolute;
    bottom: -90px;
    top: 0;
    left: 0;
    right: 0;
    animation-name: circle;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 200ms;
}

.card__hover-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    padding: 70px 22px 0;
    position: relative;
    margin: auto;
    flex: 1 0 auto;
}
@keyframes circle{

    0%{
    transform: skew(0, -20deg);
    }
    50%{
        transform: skew(0, 0);
    }
    100%{
        transform: skew(0, 20deg);
    }
    }
.card:hover .card__hover-bacground{
    animation-play-state: paused;
}

/* Отзывы */

.reviews__heading {
    color: #A3CC40;
    font-size: 48px;
    font-weight: 500;
    margin: 119px auto 40px;
}

.reviews__text {
    font-size: 11px;
    color: white;
    margin:0 auto 100px;
}

#reviews {
    background: url(../img/otzivbacgr.png) no-repeat center/cover;
    max-width: 100%;
    border: 1px solid white;
    Height: 746px;
    padding: 40px;
    margin-top: 12px;
    position: relative;
}

#reviews::after {
    content: '';
    position: absolute;
    top: 714px;
    right: 0;
    border-bottom: 113px solid #fff;
    border-left: 104vw solid transparent;
}

#reviews::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 146px solid #fff;
    border-right: 100vw solid transparent;
}

.section__photo-text {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    margin: 12px 0 0 158px;
}

.description {
    display: inline-block;
    background-color: yellowgreen;
    color: yellowgreen;
    width: 210px;
    height: 284px;
    color: white;
    border-radius: 9px;
}

.description img {
    width: 210px;
    height: 152.73px;
    display: flex;
}

.description h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 14px 22px 0 16px;
}

.description p {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    vertical-align: text-top;
    width: 171px;
    height: 52px;
    margin: -7px 22px 0 17px;
}
.owl-nav {
    color: #97B13C;
    font-size: 55px;
    position: absolute;
    top: 22px;
    left: 418px;
    bottom: 0;
}
.owl-prev {
   position: absolute;
   right: 140px;
}
.owl-next {
    position: absolute;
   left: 140px;
}

/*! Обратная связь */
.form {
    border: none;
    width: 767px;
    height: 527px;
    /* margin: 100px 183px 61px 174px; */
    margin: 150px auto;
    border-radius: 20px;
    display: flex;
    box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.37);
}

.img__bacg {
    background: url(../img/relaxtime.png);
    height: 527px;
    width: 414px;
    left: 174px;
    top: 5374px;
    border-radius: 20px;
}

.form img {
    margin-left: 27px;
}

.tx-form {
    font-size: 25px;
    color: rgba(163, 204, 64, 1);
    text-align: center;
    width: 353px;
    margin-top: 31px;
}

.party__form {
    margin-left: -27px;
}

.fullname {
    color: #A1A1A1;
    width: 314px;
    height: 40px;
    outline: none;
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding-left: 15.65px;
    padding-right: 15px;
    margin-top: 20px;
}

.option__form {
    width: 344px;
    height: 40px;
    padding-left: 15.56px;
    border: none;
    background: #DEDEDE;
    margin-top: 33px;
    outline: none;
}

.fullname2 {
    color: #A1A1A1;
    width: 314px;
    height: 40px;
    outline: none;
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding-left: 15.65px;
    padding-right: 15px;
    padding-bottom: 45px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.check {
    display: flex;
    margin-top: 28px;
    align-items: center;
}

.check p {
    margin-left: 6px;
    font-size: 12px;
    color: #333333;
}

.bt1 {
    padding: 15.87px 30.92px 15.13px 32.59px;
    width: 344px;
    height: 57px;
    background: #A3CC40;
    border-radius: 6px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.bt1:hover {
    background: #fff;
    color: #A3CC40;
    transform: 0.5s;
    border: 2px solid #A3CC40;
}

.button {
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
}

.filmbox {
    display: flex;


}

.film__item {
    width: 33.333%;
    overflow: hidden;
    position: relative;

}

.film__item img {
    width: 100%;
    height: 100%;
}

.film_black {
    width: 100%;
    height: 101%;
    background: rgba(22, 22, 22, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.filmcontent {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 40px;
    line-height: 25px;
    display: none;
}

.filmcontent h3 {
    font-size: 29px;
    margin-bottom: 20px;
}

.film__item:hover .filmcontent {
    display: block;

}

.film__item:hover .film_black {
    background: rgba(144, 210, 61, 0.4);
}

.map {
    padding: 0px 89px;
    margin: 0px auto;
    max-width: 1124px;
    box-sizing: border-box;
}


/* footer */

.footer {
    background: #A3CC40;
    color: white;
    padding: 50px;
}

.footer__link {
    color: white;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.innopolis__logo {
    Width: 161px;
    Height: 41px;
    position: relative;
    margin: 6px 0 11px 0;
}

.text2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.innopolis__img {
    height: auto;
}

#site {
    margin: 7px 116px 0px 0px;
}

.site {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.site__title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.site__link {
    color: white;
    text-decoration: none;
    bottom: 84px;
    list-style: none;
}

#contact {
    list-style: none;
    margin: 7px 151px 22px 0;
}

.contact {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.contact__title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.contact__link {
    color: white;
    text-decoration: none;
}

.page {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin: 39px 0 0 75px;
}

ul {
    list-style: none;
}

.what {
    color: #A3CC40;
}

.chek {
    display: flex;
    margin: 28px;
}

.chek p {
    margin-left: 6px;
    font-size: 12px;
}

.footer__text {
    width: 436px;
    height: 39px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin: 28px 0 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}


/* social */

.social {
    display: flex;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 17px;
    text-decoration: none;
    background-color: #BEE956;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
}

.social__link svg:hover {
    transform: rotate(360deg);
    transition: 0.7s;
    color: #BEE956;
    /* background-color: #fff; */
}

.social__linkedin {
    margin-bottom: 3px;
}

/* social end */

/* footer end */