header {
    background: url(/img/Backgrooundcinema.png) no-repeat center/cover;
    max-width: 100%;
    height: 696px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 0% 96%);
    position: relative;
}

.header__logo {
    margin: 50px 0 0 0;
}

.header__menu {
    margin: 45px 0 0 0;
}

.option {
    margin: 50px 0 0 0;
    border: none;
    background: none;
    color: #fff;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.option option {
    background: #222;
}

.option:hover {
    color: #A3CC40;
    cursor: pointer;
    transition: 0.2s;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header__menu-contact {
    margin-bottom: 15px;
}

.header__menu-contact>a {
    margin: 0 50px 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.header__navigation a {
    margin: 0 50px 0 0;
}

.header__navigation span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    transition: 0.7s;
    width: 111px;
}

.header__navigation span:hover {
    text-transform: uppercase;
    color: #A3CC40;
    transition: 0.7s;
    width: 111px;
}

.header__menu a {
    text-decoration: none;
}

.header__menu a:hover {
    color: #A3CC40;
    border-bottom: 1px solid #A3CC40;
    transition: 0.7s;
}

.contact__call {
    background: #fff;
    border-radius: 6px;
    padding: 2px 7px 3px 4px;
    border: 1px solid #222;
    box-sizing: border-box;
    transition: 0.1s;
}

.contact__call:hover {
    transition: 0.1s;
    background: #A3CC40;
    border-color: #EAEDE2;
    box-shadow: 2px;
    color: #fff;
    fill: #fff;
    cursor: pointer;
}
.contact__call:hover>svg>path{
    fill: #fff;
}

.contact__call>span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #333333;
    transition: 0.1s;
}

.contact__call>span:hover {
    transition: 0.1s;
    color: #fff;
    background: #A3CC40;
}

.box {
    margin: 130px 0 0 0;
}

.box>h1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    text-align: center;
    color: #fff;
}

.box>h2 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin: 18px 0 0 0;
}

/* header end */

.welcome {
    position: absolute;
    width: 426px;
    height: 221px;
    left: 563px;
    top: 525px;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
}

.welcome h3 {
    margin: 30px 47px 22px 47px;
    width: 332px;
    height: 43px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    color: #333333;
}

.welcome p {
    margin: 0 47px 30px 47px;
    width: 332px;
    height: 43px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
}

/* welcome end*/
.wy__use {
    margin: 0 150px 0 54px;
}

.comfort-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.comfort {
    margin: 85px 0 29px 0;
    width: 245px;
    height: 338px;
}

.comfort__bottom {
    width: 245px;
    height: 338px;
}

.comfort__bottom h4 {
    margin: 35px 0 25px 0;
}

.comfort h4 {
    margin: 35px 0 25px 0;
}

.comfort__img:hover{
    transform: scale(1.07); 
}

/* comfort */

/* table */


#table {
    margin: 228px 0 0 56px;
    width: 849px;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    color: white;
}

#table tr:nth-child(even) {
    font-size: 14px;
    background-color: #6c6c6c;
}

#table tr:nth-child(even):hover {
    background-color: rgba(0, 0, 0, 0.65);
}

#table tr:nth-child(odd) {
    font-size: 14px;
    background-color: #373737;
}

#table tr:nth-child(odd):hover {
    background-color: rgba(0, 0, 0, 0.65);

}

#table tr {
    height: 45px;
}

#table th {
    vertical-align: middle;
    background-color: #A3CC40;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: start;
    color: #FFFFFF;
}

#table td {
    vertical-align: middle;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.checktable {
    width: 80px;
    text-align: center;
}

/* !advertising */
.advertising {
    background: url(../img/Group\ 1.png) no-repeat center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

.advertising::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 109px solid #fff;
    border-right: 100vw solid transparent;
}


.advertising::after {
    content: '';
    position: absolute;
    top: 491px;
    right: 0px;
    border-bottom: 110px solid #fff;
    border-left: 100vw solid transparent;
}
   
.advertising__img {
    position: absolute;
    left: 140px;
    top: -42px;
    border-radius: 100%;
}

.advertising__text {
    width: 548px;
    box-sizing: border-box;
    margin: 0px 441px 0;
    padding: 116px 0;
}

.advertising__text h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-align: right;
    color: #FFFFFF;
}

.advertising__text p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    padding: 38px 0;
}

.advertising__button {
    border: 1px solid limegreen;
}

/* !films */
.block {
    overflow: hidden;
}
.block__item {
    float: left;
    width: 33.33px;
    position: relative;
}
.block__img {
}
.block__shadow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .4);
}
.block__descr {
    background:  rgba(144, 210, 61, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.block__title {
}
.block__text {
}
