html{
   font-size: 1.4vw; 
}
header {
    background: url(/img/Backgrooundcinema.png) no-repeat center/cover;
    max-width: 100%;
    height: 100vh;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 0% 96%); */
    position: relative;
    z-index: 1;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom:12.5rem solid #fff;
    border-left: 100vw solid transparent;
}

body {
    font-family: 'IBM Plex Sans';
}

.header__logo {
    margin: 3.125rem 0 0 0;
}

.header__menu {
    margin: 2.8125rem 0 0 0;
}

.option {
    margin: 3.125rem 0 0 0;
    border: none;
    background: none;
    color: #fff;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
}

.option option {
    background: #222;
}

.option:hover {
    color: #A3CC40;
    cursor: pointer;
    transition: 0.2s;
}

.header {
    display: flex;
    justify-content: space-between;
}


/*! hader__burger */


/* !header__burger end  */
.header__menu-contact {
    margin-bottom: 0.9375rem;
}

.header__menu-contact>a {
    margin: 0 3.125rem 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #FFFFFF;
}

.header__navigation a {
    margin: 0 3.125rem 0 0;
}

.header__navigation span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #FFFFFF;
    transition: 0.7s;
    width:6.937rem;
}

.header__navigation :hover a {
    /* text-transform: uppercase; */
    color: #A3CC40;
    transition: 0.7s;
    width:6.937rem;
}

.header__menu a {
    text-decoration: none;
}

.header__menu a:hover {
    color: #A3CC40;
    border-bottom: 1px solid #A3CC40;
    transition: 0.7s;
}

.blok__call {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    background: #fff;
    padding: 2px 0.4375rem;
    border-radius:0.375rem;
    border: 2px solid #fff;
}

.blok__call span {
    color: #333;
    font-size: 0.75rem;
    display: inline-block;
    margin-left:0.4375rem;
    line-height: 1rem;
}

.blok__call svg {
    fill: #333;
    display: inline-block;
}

.blok__call:hover {
    display: inline-block;
    text-decoration: none;
    background: #A3CC40;
    border: 2px solid #fff;
    padding: 2px 0.4375rem;
}

.blok__call:hover svg {
    fill: #fff;
}



.box {
    margin:8.125rem 0 0 0;
}

.box>h1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    font-size:4.25rem;
    line-height:5.5rem;
    text-align: center;
    color: #fff;
}

.box>h2 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 2.5625rem;
    line-height: 3.3125rem;
    text-align: center;
    color: #FFFFFF;
    margin: 1.125rem 0 0 0;
}

/* !header end */

.welcome {
    position: absolute;
    top:32.8125rem;
    bottom: 0;
    left:35.25rem;
    right: 1.4375rem;
    border: 1px solid white;
    background: white;
    text-align: center;
    color: rgb(8, 8, 8);
    border-radius: 0.625rem;
    box-shadow: 0 1.6875rem 2.4375rem rgba(163, 204, 64, 0.18);
    font-size: 0.6875rem;
    padding: 0 0.75rem;
    z-index: 2;
    width:25rem;
    height:13.8rem;
    vertical-align: text-top;
}

.welcome p {
    text-align: left;
    margin: 0 2.5625rem 1.875rem 2.125rem;
}

.welcome__title {
    font-size: 2.0625rem;
    font-weight: 600;
    padding: 1.875rem;
    margin-top: 4px;
    margin-left: -1.125rem;
}

/* !welcome end*/

.comfort-flex {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:5.25rem auto 9rem;
}

.comfort {
    height:21.125rem;
    width:15.3125rem;
    box-sizing: border-box;
}

.comfort h4 {
    text-align: center;
    margin: 2.1875rem auto 1.5625rem;
}

.comfort__text-p {
    text-align: center;
}

.comfort__img {
    width: 100%;
}

.comfort__img:hover {
    transform: scale(1.07);
}

/* !comfort */

/* !table */
#film {
    padding: 0 0.9375rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.film-choose {
    margin: 0 auto 0;
}

#table {
    margin: 5.25rem auto 1.875rem;
    width: 100%;
    border-radius: 0.625rem;
    border-collapse: collapse;
    overflow: hidden;
    color: white;
}

#table tr:nth-child(even) {
    font-size: 0.875rem;
    background-color: #6c6c6c;
}

#table tr:nth-child(even):hover {
    background-color: rgba(0, 0, 0, 0.65);
}

#table tr:nth-child(odd) {
    font-size: 0.875rem;
    background-color: #373737;
}

#table tr:nth-child(odd):hover {
    background-color: rgba(0, 0, 0, 0.65);

}

#table tr {
    height: 2.8125rem;
}

#table th {
    vertical-align: middle;
    background-color: #A3CC40;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.625rem;
    text-align: center;
    color: #FFFFFF;
}

#table td {
    vertical-align: middle;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #FFFFFF;
    text-align: center;
}

.checktable {
    width: 5rem;
    text-align: center;
}

.film__table-text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 0.6875rem;
    line-height: 0.875rem;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    max-width: 33.6875rem;
    margin: 1.875rem 17.5rem 6.875rem;
}

/* !advertising */
.advertising {
    background: url(../img/Group\ 1.png) no-repeat center/cover;
    max-width: 100%;
    position: relative;
}

.advertising::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 6.75rem solid #fff;
    border-right: 100vw solid transparent;
}


.advertising::after {
    content: '';
    position: absolute;
    top: 30.75rem;
    right: 0;
    border-bottom: 6.875rem solid #fff;
    border-left: 100vw solid transparent;
}

.advertising__img {
    position: absolute;
    left: 8.75rem;
    top: -2.625rem;
    width: 20%;
    border-radius: 100%;
    animation-name: gift;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes gift {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.4)
    }

    100% {
        transform: scale(1.2)
    }
}

.advertising__text {
    box-sizing: border-box;
    padding: 6.75rem 7.5rem 10rem 27.1875rem;
}

.advertising__text h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height:3.875rem;
    text-align: right;
    color: #FFFFFF;
}

.advertising__text p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 0.6875rem;
    line-height: 0.875rem;
    text-align: right;
    color: #FFFFFF;
    padding: 2.375rem 0;
}

.advertising__button {
    padding:0.4375rem 2.25rem 0.375rem 2.25rem;
    background-color: #A3CC40;
    color: white;
    border-radius:0.375rem;
    border: none;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    margin-left:21.3125rem;
    transition: 0.3s;
}

.advertising__button:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #A3CC40;
}

/* !films */

/* film */
.cinema__table {
    margin: 0 auto;
}

.film__img .film__p {
    transition: 0.3s;
    left: 0;
}

.cinema__heading {
    color: #A3CC40;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2.25rem;
}

.section__commit {
    font-size: 0.6875rem;
    margin-bottom: 4.25rem;
    margin-top: 1.625rem;
}

.section__text {
    font-size: 0.6875rem;
    line-height: 0.875rem;
}

.film__img {
    width: 17.6875rem;
    position: relative;
    overflow: hidden;
    display: block;
}

.film__img::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(22, 22, 22, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: 0.3s;
}

.film__img:hover::after {
    background: transparent;
    transition: 0.3s;
}

.film__img:hover .film__p {
    bottom: 0;
    color: white;
}

.film__img img {
    display: flex;
    width: 100%;
    height: 17.6875rem;
}

.film__p {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(144, 210, 61, 0.4);
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    padding: 1.0625rem 1.375rem;
}

.film__cards {
    display: flex;
}

.cinema__title {
    margin-bottom: 1.25rem;
    color: white;
    font-weight: 600;
    font-size: 1.8125rem;
    line-height: 2.375rem;
}

.cinema__text {
    color: white;
    font-size: 0.6875rem;
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 0.875rem;
}

/*!goods */

.goods {
    padding: 0 0.9375rem;
    margin: 2.375rem auto 0;
}

.goods__text {
    margin: 2.375rem auto;
}

.card__box {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.card {
    position: relative;
    float: left;
    width:14.375rem;
    overflow: hidden;
    border-radius: 0.625rem;
}

.card__img {
    display: block;
    width: 100%;
    height: 100%;
}

.card__hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
}

.card__hover-bacground {
    background: rgba(163, 204, 64, 0.8);
    position: absolute;
    bottom: -5.625rem;
    top: 0;
    left: 0;
    right: 0;
    animation-name: circle;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 200ms;
}

.card__hover-text {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.3rem;
    text-align: center;
    color: #FFFFFF;
    padding:2.375rem 1.375rem 0;
    position: relative;
    margin: auto;
    flex: 1 0 auto;
}

@keyframes circle {

    0% {
        transform: skew(0, -20deg);
    }

    50% {
        transform: skew(0, 0);
    }

    100% {
        transform: skew(0, 20deg);
    }
}

.card:hover .card__hover-bacground {
    animation-play-state: paused;
}

/* Отзывы */

.reviews__heading {
    color: #A3CC40;
    margin: 7.4375rem auto 2.4375rem;
}

.reviews__text {
    font-size: 0.6875rem;
    color: white;
    margin: 0 auto 3.25rem;
}

#reviews {
    background: url(../img/otzivbacgr.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    margin-top: 0.75rem;
    position: relative;
}

#reviews::after {
    content: '';
    position: absolute;
    top:34rem;
    right: 0;
    border-bottom:8rem solid #fff;
    border-left: 107vw solid transparent;
}

#reviews::before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    border-top:8rem solid #fff;
    border-right: 107vw solid transparent;
}

.section__photo-text {
    font-weight: 300;
    font-size: 0.5rem;
    line-height: 0.625rem;
    margin: 0.75rem 0 0 9.875rem;
}
.description:hover{
transform: scale(1.07 , 1.07);
}
.description {
    background-color: yellowgreen;
    color: yellowgreen;
    /* width:13.125rem; */
    height:17.75rem;
    color: white;
    border-radius:0.56rem;
}

.description img {
    width:13.125rem;
    height:9.5rem;
    display: flex;
}

.description h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    color: #FFFFFF;
    margin: 0.875rem 1.375rem 0 1rem;
}

.description p {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.8125rem;
    color: #FFFFFF;
    vertical-align: text-top;
    width:10.69rem;
    height: 3.25rem;
    margin: -0.4375rem 1.375rem 0 1.0625rem;
}
.owl-item{
    display: flex;
    justify-content: center;
}
.owl-nav {
    color: #97B13C;
    font-size: 3.4375rem;
    /* position: absolute;
    top: 1.375rem;
    left:0;
    right: 0;
    bottom: 0; */
}

.owl-prev {
    position: absolute;
    top: 0;
    /* right:8.75rem; */
}

.owl-next {
    position: absolute;
    top: 0;
    /* left:8.75rem; */
}

/*! Обратная связь */
.form {
    border: none;
    width:48.4375rem;
    margin: 9.375rem auto;
    border-radius: 1.25rem;
    display: flex;
    box-shadow: 0.5rem 0.5625rem 2.4375rem rgba(185, 185, 185, 0.37);
}

.img__bacg {
    background: url(../img/relaxtime.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
}

.form img {
    width: 100%;
    height: 100%;
    margin-left: 1.6875rem;
}

.tx-form {
    font-size: 1.5625rem;
    color: rgba(163, 204, 64, 1);
    text-align: center;
    width: 22.0625rem;
    margin-top: 1.9375rem;
}

.party__form {
    margin-left: -1.69rem;
    padding:0.6rem;
}

.fullname {
    color: #A1A1A1;
    width: 19.625rem;
    height: 2.4375rem;
    outline: none;
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-top: 1.25rem;
}

.option__form {
    width: 21.5rem;
    height: 2.4375rem;
    padding-left: 0.9375rem;
    border: none;
    background: #DEDEDE;
    margin-top: 2.0625rem;
    outline: none;
}

.fullname2 {
    color: #A1A1A1;
    width: 19.625rem;
    height: 2.4375rem;
    outline: none;
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 2.8125rem;
    margin-top: 1.25rem;
    display: flex;
    align-items: flex-start;
}

.check {
    display: flex;
    margin-top: 1.75rem;
    align-items: center;
}

.check p {
    margin-left:0.375rem;
    font-size: 0.75rem;
    color: #333333;
}

.bt1 {
    padding: 0.9375rem 1.875rem;
    width: 21.5rem;
    height: 3.5625rem;
    background: #A3CC40;
    border-radius:0.375rem;
    color: white;
    font-size: 1.5625rem;
    cursor: pointer;
    border: none;
}

.bt1:hover {
    background: #fff;
    color: #A3CC40;
    transform: 0.5s;
    border: 2px solid #A3CC40;
}

.button {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.75rem;
}

.filmbox {
    display: flex;
}

.film__item {
    width: 33.333%;
    overflow: hidden;
    position: relative;

}

.film__item img {
    width: 100%;
    height: 100%;
}

.film_black {
    width: 100%;
    height: 101%;
    background: rgba(22, 22, 22, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.filmcontent {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 2.4375rem;
    line-height: 1.5625rem;
    display: none;
}

.filmcontent h3 {
    font-size: 1.8125rem;
    margin-bottom: 1.25rem;
}

.film__item:hover .filmcontent {
    display: block;

}

.film__item:hover .film_black {
    background: rgba(144, 210, 61, 0.4);
}

.map {
    padding: 0 5.6rem;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}


/* footer */

.footer {
    background: #A3CC40;
    color: white;
    padding: 3.125rem;
}

.footer__link {
    color: white;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.innopolis__logo {
    Width:10rem;
    Height: 2.5625rem;
    position: relative;
    margin:0.375rem 0 0.6875rem 0;
}

.text2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.innopolis__img {
    width: 100%;
    height: 100%;
}

#site {
    margin:0.4375rem 7.25rem 0 0;
}

.site {
    margin-bottom: 1.375rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.site__title {
    margin-bottom: 0.75rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
}

.site__link {
    color: white;
    text-decoration: none;
    bottom:5.25rem;
    list-style: none;
}

#contact {
    list-style: none;
    margin:0.4375rem 9.4375rem 1.375rem 0;
}

.contact {
    margin-bottom: 1.375rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.contact__title {
    margin-bottom: 0.75rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
}

.contact__link {
    color: white;
    text-decoration: none;
}

.page {
    font-weight: 400;
    font-size: 0.937rem;
    line-height: 1.187rem;
    margin: 2.4375rem 0 0 4.687rem;
}

ul {
    list-style: none;
}

.what {
    color: #A3CC40;
}

.chek {
    display: flex;
    margin: 1.75rem;
}

.chek p {
    margin-left:0.375rem;
    font-size: 0.75rem;
}

.footer__text {
    width:27.25rem;
    height: 2.4375rem;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: 1.75rem 0 0;
    line-height: 1.1875rem;
}


/* social */

.social {
    display: flex;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem;
    height: 1.875rem;
    margin: 1.0625rem;
    text-decoration: none;
    background-color: #BEE956;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
}

.social__link svg:hover {
    transform: rotate(360deg);
    transition: 0.7s;
    color: #BEE956;
    /* background-color: #fff; */
}

.social__linkedin {
    margin-bottom: 3px;
}

/* social end */

/* footer end */