.background {
    width: 400px;
    height: 300px;
    background-color: #6592CF;
    position: relative;
    margin: 100px;
}

.home {
    position: absolute;
    padding: 65px;
    background-color: #243D83;
    border-radius: 10px;
    margin: 112px 130px;
}

.roof::before {
    top: 0;
    display: block;
    content: '';
    position: absolute;
    border: 95px solid #243D83;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
    border-top: 95px solid transparent;
    top: -44px;
    right: 112px;
}

.door::after {
    content: '';
    background: #EEB850;
    position: absolute;
    border-radius: 10px 10px 0 0;
    padding: 30px 25px;
    bottom: 58px;
    left: 170px;
}

.glass {
    top: 141px;
    left: 148px;
    right: 100px;
    border-radius: 10px;
    width: 93px;
    height: 10px;
    background: #EEB850;
    position: absolute;
}

.background__2 {
    margin: 100px;
    width: 400px;
    height: 300px;
    background-color: #191919;
}

.sun__background__bottom{
    position: absolute;
    margin-top: -125px;
    background-color: #F2AD43;
    border-radius: 70px 70px 10px 10px;
    margin: 100px 130px;
    height: 150px;
    width: 130px;
    overflow: hidden;
}

.sun::before{
    content:'' ;
    position: absolute;
    border: 70px  solid #E08027;
    border-radius: 100%;
    right: 20px;
    bottom: -100px;
}

.sun::after{
    content:'' ;
    position: absolute;
    border: 70px  solid #824B20;
    border-radius: 100%;
    left: 12px;
    bottom: -100px;
}

.sun {
    background: #FFF58F;
    position: relative;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    left: 42px;
    top: 58px;
}



.background__3{
    background:#293462;
    width: 400px;
    height: 300px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 100px;
}

.sky{
    position:relative;
    background:#FFF1C1;
    border-radius:100%;
    width:200px;
    height:200px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    overflow:hidden;
    flex-direction: 
    row-reverse;
}

.mountain{
    position:absolute;
    width:0px;
    height:1px;
    padding-top:-90px;
    margin-bottom:40px;
    margin-left:40px;
    border-bottom:100px solid #FE5F55;
    border-left: 100px solid transparent;
    border-right: 105px solid transparent;
    display:flex;
}

.mountain__2{
    position:absolute;
    width:0;
    height:0;
    border-bottom:100px solid #FE5F55;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    margin-bottom:-29px;
    margin-left:-70px;
}

.mountain__bottom{
    background: #FE5F55;
    width:190px;
    height:50px;
    margin-top:50px;
}